* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprint-admin-container {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.sprint-admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #312D2A;
    color: #f0f2f5;
    padding: 20px 40px;
    border-radius: 8px 8px 0 0;
}

.sprint-admin-title {
    font-size: 28px;
    font-weight: bold;
    color: #f0f2f5;
}

.sprint-admin-content {
    margin-top: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    height: 50vh;
    gap: 20px;
}

.sprint-admin-info {
    flex: 1.2;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tasks-section {
    background: #f0f2f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 60vh;
}

.tasks-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding-bottom: 10px;
        max-height: 400px; 
        overflow-y: auto;
        scrollbar-width: thin;
}

.task-card {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    width: 220px;
    min-width: 220px;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.task-card:hover {
    background-color: #f8f9fa;
    transform: scale(1.05);
}

.task-icon {
    font-size: 30px;
    color: #3A3632;
    margin-bottom: 5px;
}

.no-tasks {
    text-align: center;
    font-style: italic;
    color: #777;
}

.tasks-sectionn {
    flex: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
